{% extends 'base.html'%}
{%block conteudo%}
<h1 class="mt-5">Minha agenda</h1>
{% block conteudo_tabela %}
<table class="table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Sobrenome</th>
        <th>Telefone</th>
        <th>Categoria</th>
    </tr>
    </thead>
    <tbody>
    <!-- Realizado um laço em python para que pegue os dados do meu banco de dados-->
    {% for contato in contatos %}
    <!--Gerando uma condição se o campo mostrar for verdadeiro será exibido no html-->
    {% if contato.mostrar %}
    <tr>
        <td>
            {{ contato.id }}
        </td>
        <td>
            <!-- Com o resultado do laço instancio o que eu quero que aparereça no meu html.-->
            <a href="{% url 'ver_contato' contato.id %}">{{ contato.nome }}</a>
        </td>
        <!-- Com o resultado do laço instancio o que eu quero que aparereça no meu html.-->
        <td>{{ contato.sobrenome }}</td>
        <!-- Com o resultado do laço instancio o que eu quero que aparereça no meu html.-->
        <td>{{ contato.telefone }}</td>
        <!-- Com o resultado do laço instancio o que eu quero que aparereça no meu html.-->
        <td>{{ contato.categoria }}</td>
    </tr>
    <!-- Finalização a condição no meu html.-->
    {% endif %}
    <!-- Finalização do laço no meu html.-->
    {% endfor %}
    </tbody>
</table>

<!-- Paginação no meu html.-->
<nav aria-label="Page navigation example">
    <ul class="pagination">
        {% for pagina in contatos.paginator.page_range %}
        {% if contatos.number == pagina %}
        <li class="page-item active">
            <a class="page-link" href="?p={{ pagina }}&termo={{ request.GET.termo }}">{{ pagina }}</a>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link" href="?p={{ pagina }}">{{ pagina }}</a>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</nav>
{%endblock%}
{%endblock%}
